Token Endpoint no longer adhering to the specification for client_secret_basic auth method

_Note: this issue does not related directly to this sample but I was asked in the Azure forum to head here, select the sample that best matched my implementation (which would be this one) and report an issue on it._

**Background**
I work with a Java based product that has support for authenticating users using OpenID Connect. It's a general OIDC implementation and not something AAD specific, and therefore does not use the ADAL4J library. The integration works well with a lot of providers, and has been working well with AAD as well until just a few days ago when the Token Endpoint started returning 401:s. 

**Summary**
It turns out that the AAD Token Endpoint no longer expects the client ID and the client secret to be _application/x-www-form-urlencoded_ before being used as username and password when using the _client_secret_basic_ authentication method.

**Expected behavior**:
That client_secret_basic authentication (which is listed among the supported token endpoint authentication methods in the discovery document) works according to the above.

**Actual behavior**:
AAD expects non-URL encoded client ID and client secret to be used as username and password when using the client_secret_basic authentication method.

**Justification**
- The OIDC specification states that _Clients that have received a client_secret value from the Authorization Server authenticate with the Authorization Server in accordance with Section 2.3.1 of OAuth 2.0 RFC6749 using the HTTP Basic authentication scheme._
- Section 2.3.1 of RFC 6749 states that _The client identifier is encoded using the "application/x-www-form-urlencoded" encoding algorithm per Appendix B, and the encoded value is used as the username; the client password is encoded using the same algorithm and used as the password._
- Appendix B of RFC 6749 states that _names and values MUST be encoded using the UTF-8 character encoding scheme RFC3629 first; the resulting octet sequence then needs to be further encoded using the escaping rules defined in W3C.REC-html401-19991224._


Note that the current behavior of our application has been working with AAD for a few years, and still works against other providers such as Google.

Our application also supports _client_secret_form_ (which seems to be the method used by the ADAL4J library) but it will not use it without manual configuration in this case since the _client_secret_basic_ method is listed as supported.

Hi

Can you please email me the error details? If you can send fiddler trace it will be great else email me time/CorrelationId of the error.

Ravi
ravishar [at] Microsoft.com

AAD started supporting client_secret_basic a few weeks back. As Jens mentioned, the problem was that server was not url decoding the clientid/password when these are sent in the header. 

Fix is expected to go live in a few weeks.

Thanks for reporting the issue.
Ravi

@userravishar @jborgland Closing this issue as a fix was being made for it. Thanks.